@use "vars";
@use "components/form";
@use "components/table";
@use "components/tabs";
@use "components/button";
@use "components/responsive";

@charset "utf-8";

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  html {
    -webkit-text-size-adjust: none;
  }
}

html * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #fff;
}

ol {
  list-style-type: decimal;
  margin: 10px 25px;
}

ul {
  list-style-type: disc;
  margin: 10px 25px;
}

input, textarea, select, option {
  font-family: Arial;
  font-size: 14px;
  vertical-align: middle;
}

p {
  margin: 10px 0px;
}

header {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background: vars.$headerBackgroundLogo;
  background-size: 145px;

  #top-bar-search {
    z-index: 99;
    width: 100%;
    position: relative;
    height: inherit;
  }

  #top-bar, #top-bar-right, #top-bar-left {
    z-index: 99;
    width: 100%;
    position: relative;
    height: inherit;

    .pure.menu-list {
      height: inherit;
      float: right;
    }

    & > .pure-menu-list {
      & > .pure-menu-item:hover > .pure-menu-link {
        background-color: #fff;
        color: vars.$mainColor;
      }

      & > .pure-menu-item > .pure-menu-link {
        height: inherit;
        padding: 5px 10px;
        font-size: 17px;
        color: #fff;
        overflow: hidden;
        margin: 10px 2.5px;
        border-radius: 10px;

        &.child {
          line-height: 20px;
          font-size: 14px;
        }
      }
    }

    &.pure-menu-active > .pure-menu-link, .pure-menu-item:hover > .pure-menu-link {
      background-color: #dfdfdf;
    }

    .pure-menu-selected > .pure-menu-link {
      background-color: vars.$secColor;
    }

    .pure-menu-children {
      min-width: 250px;
      left: auto;
      right: 0;
      margin-right: 10px;
      margin-top: -2px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 2px 4px #cfcfcf;
    }

  }

  #top-bar-left, #top-bar-search, #top-bar-right {
    width: auto;
    float: left;
  }

  #top-bar-left {
    position: fixed;
    left: 5px;
  }
}

#main {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  & > #side-bar {
    display: table-cell;
    vertical-align: top;
    z-index: 99;
    width: 250px;
    height: 100%;
    padding: 70px 0 20px 0;
    background-color: #efefef;
    box-shadow: inset -2px 0 0 #cfcfcf;

    //overflow-x: visible;
    //overflow-y: auto;

    .pure-menu-heading {
      a {
        text-decoration: none;
        color: #565d64;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &.pure-menu-active > .pure-menu-link, .pure-menu-item:hover > .pure-menu-link {
      background-color: #cfcfcf;
    }

    .pure-menu-children {
      width: 100%;
      box-shadow: 1px 1px 1px 1px #cfcfcf;

      &.pure-menu-active > .pure-menu-link, .pure-menu-item:hover > .pure-menu-link {
        background-color: #dfdfdf;
      }
    }

    .pure-menu-selected {
      border-left: 5px solid vars.$secColor;
      background: #fff;
      box-shadow: inset -2px 0 0 #cfcfcf;

      & > .pure-menu-link:after {
        content: "\25BE"
      }

      & > .pure-menu-children {
        display: list-item;
        text-align: -webkit-match-parent;
        list-style-type: none;
        position: initial;
        box-shadow: inset -2px 0 0 #cfcfcf;

        .pure-menu-item .pure-menu-link {
          padding-left: 25px;
        }
      }
    }
  }

  & > .content {
    display: table-cell;
    vertical-align: top;
    padding: 70px 20px 20px 20px;

    main {
      position: relative;
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: 24px;
      color: vars.$secColor;
      margin: 10px 0px;
    }

    h2 {
      font-size: 20px;
    }

    h3, h4, h5, h6 {
      font-size: 16px;
      color: #666;
    }

    @include form.partial;
    @include table.partial;
    @include tabs.partial;
  }
}

footer {
  clear: both;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  color: #999;

  a {
    color: #666;
  }

  text-align: center;
}

@include button.partial;
@include responsive.partial;

#devData {
  text-align: left;
  width: initial;
  border: 0;
  font-size: 12px;
  line-height: 14px;
  background: #fff;
  margin-top: 350px;
  color: #999;
  box-sizing: border-box;

  & > .toggleButton {
    color: #ccc;
  }

  & > .data {
    padding: 20px 0;
    display: none;
  }
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Arial;
  font-size: 14px;
  vertical-align: middle;
}