$mainColor: #000 !default;
$secColor: #666 !default;
$tertiaryColor: #999 !default;

$submitButtonTxt: white !default;
$submitButtonBg: $mainColor !default;

$resetButtonTxt: white !default;
$resetButtonBg: orange !default;

$buttonGroupRightTopButtonTxt: #444 !default;
$buttonGroupRightTopButtonBg: #eee !default;

$dataTableButtonTxt: white !default;
$dataTableButtonBg: $secColor !default;

$headerBackgroundLogo: $mainColor !default;

$tabsHoverBorderBottom: $secColor !default;
$tabsActiveBorderBottom: $mainColor !default;
$tabsHeaderBackgroundColor: #EEE !default;
$tabsHeaderLinkColor: #444 !default;