@use "../vars";

@mixin partial {
  .vertTable {
    border: 1px solid #999;
    padding: 0px;
    width: 100%;
    line-height: 22px;
    margin: 1rem 0;

    th {
      text-align: left;
      width: 20%;
      min-width: 150px;
      padding: 3px 5px;
      vertical-align: top;
      border-right: 2px solid vars.$mainColor;
    }

    td {
      padding: 3px 5px;

      textarea {
        margin: 0;
        padding: 0 3px;
      }

      input:not([type=submit]):not([type=reset]):not([type=button]):not([type=checkbox]), select, .pure-button {
        margin: 0;
        padding: 0 3px;
        line-height: 20px;
        height: 22px;
      }
    }

    tr:nth-child(odd) {
      background: #eee;
    }
  }

  .horTable {
    border: 1px solid #999;
    width: 100%;
    line-height: 22px;
    padding: 0px;
    margin: 1rem 0;

    td {
      padding: 3px 5px;

      textarea {
        margin: 0;
        padding: 0 3px;
      }

      input:not([type=submit]):not([type=reset]):not([type=button]):not([type=checkbox]), select, .pure-button {
        margin: 0;
        padding: 0 3px;
        line-height: 20px;
        height: 22px;
      }
    }

    th {
      padding: 3px 5px;
      text-align: left;
      border-bottom: 2px solid vars.$mainColor;
      font-weight: bold;
    }

    tbody:not(.noOddRowHighlight) {
      tr:nth-child(odd) {
        background: #eee;
      }
    }

    tfoot th {
      padding: 2px;
      text-align: left;
      border: 0px;
      background: #ccc;
      color: #333;
      font-weight: normal;
      font-style: italic;
    }
  }

  tbody.highlightOdd tr:nth-child(odd) {
    background: #eee;
  }
}